<div class="navbar navbar-light bg-light">
  <div class="navbar-brand d-inline-block">
    <%= link_to 'Test Guru', tests_path %>

    <%= link_to admin_tests_path do %>
    <i class="fi-widget"></i>
    <% end %>
  </div>

  <span class="navbar-text">
    <%= t('.header') %>
    <div>
      <%= t('admin.nav.greeting', email: current_user.email) %></b> | 
      <%= link_to t('admin.nav.logout'), destroy_user_session_path, method: :delete %>
    </div>
  </span>
</div>
