<p><%= link_to 'All tests', tests_path %></p><br>

<%= Time.current.year %> | 
<%= link_to 'Author', './author.html' %> | 
<%= link_to 'Github', "https://github.com/maksimmanzhai", target: :_blank%> | 
<%= link_to 'About', './about.html'%> | 
<%= link_to 'Thinknetica', "http://thinknetica.com/", target: :_blank %>
