<p><%= link_to t('.all_tests'), tests_path %></p><br>

<%= Time.current.year %> | 
<%= link_to t('.author'), './author.html' %> | 
<%= link_to 'Github', "https://github.com/maksimmanzhai", target: :_blank%> | 
<%= link_to t('.about'), './about.html'%> | 
<%= link_to 'Thinknetica', "http://thinknetica.com/", target: :_blank %>
