<div class="nav user">
  <h1><%= link_to 'Test Guru', tests_path %></h1>
  <% if logged_in? %>
    <p>Welcome, <b><%= current_user.username %></b> Guru</p>
    <p><%= link_to 'Log out', logout_path, method: "delete" %></p>
  <% else %>
    <%= link_to 'Log in', login_path %>
    <%= link_to 'Sign up', signup_path %>
  <% end %>
</div>
