<%= form_with model: [@test], local: true do |form| %>

<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <%= render'shared/errors', resource: @test %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :test_title %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.text_field :level, id: :test_level %>
  </p>

  <p>
    <%= form.label :category_id %><br>
    <%= select(:test, :category_id, @category_options) %>
  </p>

  <p>
    <%= form.label :author_id %><br>
    <%= select(:test, :author_id, @user_options) %>
  </p>

  <p><%= form.submit %></p>

<% end %>
