<h1><%= @test.title %></h1>
<p>
  Level: 
  <%= @test.level %>
</p>

<table>
  <tr>
    <th>Questions</th>
  </tr>
  <% @test.questions.each do |question| %>
  <tr>
    <td><%= question.body %></td>
    <td><%= link_to 'Show question', question %></td>
    <td><%= link_to 'Destroy question', question, method: :delete, data: { confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table><br>

<%= link_to "New question", new_test_question_path(@test.id) %>
